<h1>{{ data.isEditing ? 'Editar Categoría' : 'Ver Categoría' }}</h1>
<form>
  <div class="form-group">
    <label for="categoria">Nombre de la Categoría</label>
    <input
      type="text"
      class="form-control"
      id="categoria"
      name="categoria"
      [(ngModel)]="categoria.nombre"
      [disabled]="!data.isEditing"
    />
  </div>
</form>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="cerrarDialog()">Cerrar</button>
  <button
    *ngIf="data.isEditing"
    type="button"
    class="btn btn-primary"
    (click)="guardarCambios()"
  >
    Guardar Cambios
  </button>
</div>

