<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">{{ data.isEditing ? 'Editar Categoría' : 'Ver Categoría' }}</h1>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="categoria" class="form-label"> Nombre de la Categoria</label>
          <input type="text" class="form-control" id="categoria" name="categoria" [(ngModel)]="categoria.categoria" [disabled]="!data.isEditing">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cerrarDialog()">Cerrar</button>
      <button *ngIf="data.isEditing" type="button" class="btn btn-primary" (click)="guardarCambios()">Guardar cambios</button>
    </div>
  </div>
</div>