<div class="container">
<button type="button" class="btn btn-add-brand" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Agregar Usuario
</button>

<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo Electronico</th>
        <th>Fecha de Registro</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th>Nombre de la Empresa</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.first_name }}</td>
        <td>{{ usuario.last_name }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.date_joined }}</td>
        <td>{{ usuario.direccion }}</td>
        <td>{{ usuario.telefono }}</td>
        <td>{{ usuario.nombre_empresa }}</td>
        <td>
          <button class="btn btn-info btn-sm" (click)="verUsers(usuario)">Ver</button>
          <button class="btn btn-warning btn-sm" (click)="editarUsers(usuario)">Editar</button>
          <button class="btn btn-danger btn-sm" (click)="eliminarUsers(usuario)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Usuario</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Aquí colocamos el formulario -->
          <form>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" [(ngModel)]="nuevoUsuarios.username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="nuevoUsuarios.password">
            </div>
            <div class="mb-3">
                <label for="first_name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="first_name" name="first_name" [(ngModel)]="nuevoUsuarios.first_name">
            </div>
            <div class="mb-3">
                <label for="last_name" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="last_name" name="last_name" [(ngModel)]="nuevoUsuarios.last_name">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="nuevoUsuarios.email">
            </div>
            <div class="mb-3">
              <label for="date_joined" class="form-label">Fecha de Unión</label>
              <input type="date" class="form-control" id="date_joined" name="date_joined" [(ngModel)]="nuevoUsuarios.date_joined">
          </div>
            <div class="mb-3">
                <label for="direccion" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="nuevoUsuarios.direccion">
            </div>
            <div class="mb-3">
                <label for="telefono" class="form-label">Teléfono</label>
                <input type="text" class="form-control" id="telefono" name="telefono" [(ngModel)]="nuevoUsuarios.telefono">
            </div>
            <div class="mb-3">
                <label for="nombre_empresa" class="form-label">Nombre de la empresa</label>
                <input type="text" class="form-control" id="nombre_empresa" name="nombre_empresa" [(ngModel)]="nuevoUsuarios.nombre_empresa">
            </div>
            <div class="mb-3">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="is_superuser" [(ngModel)]="nuevoUsuarios.is_superuser">
                    <label class="form-check-label" for="is_superuser">El usuario es un administrador</label>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="is_active" [(ngModel)]="nuevoUsuarios.is_active">
                    <label class="form-check-label" for="is_active">Activo</label>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="is_staff" [(ngModel)]="nuevoUsuarios.is_staff">
                    <label class="form-check-label" for="is_staff">El usuario es un staff</label>
                </div>
            </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="agregarUsuarios()">Guardar cambios</button>
        </div>
      </div>
    </div>
  </div>
</div>