<header class="header">
  <div class="logo">
    <a routerLink="/inicio">
      <img src="https://static.vecteezy.com/system/resources/previews/024/348/855/non_2x/generic-people-for-company-and-charity-logo-design-vector.jpg" alt="Mi Logo">
    </a>
  </div>
  <div class="header-buttons">
    <button routerLink="/producto">Productos</button>
    <button routerLink="/marca">Marcas</button>
    <button routerLink="/tienda">Tiendas</button>
    <button routerLink="/users">Usuarios</button>
    <button routerLink="/categoria">Categorías</button>
  </div>
</header>
