<header class="header">
  <div class="logo">
    <a routerLink="/inicio">
      <img src="https://static.vecteezy.com/system/resources/previews/024/348/855/non_2x/generic-people-for-company-and-charity-logo-design-vector.jpg" alt="Mi Logo">
    </a>
  </div>
  <div class="header-buttons">
    <button *ngIf="loginService.isUserLoggedIn()" routerLink="/producto">Productos</button>
    <button *ngIf="loginService.isUserLoggedIn()" routerLink="/compras">Compras</button>
    <button *ngIf="loginService.isUserLoggedIn()" routerLink="/ventas">Ventas</button>
    <button *ngIf="loginService.isUserLoggedIn()" routerLink="/inventario">Inventario</button>
    <button *ngIf="loginService.isUserLoggedIn()" routerLink="/marca">Marcas</button>
    <button *ngIf="loginService.isUserLoggedIn()" routerLink="/tienda">Tiendas</button>
    <button *ngIf="loginService.isUserLoggedIn()" routerLink="/users">Usuarios</button>
    <button *ngIf="loginService.isUserLoggedIn()" routerLink="/categoria">Categorías</button>
    <button *ngIf="loginService.isUserLoggedIn()" (click)="loginService.logout()" class="logout-button" >Cerrar Sesion</button>
  </div>
</header>
