.container {
  padding: 20px; 
  margin-bottom: 200px;/* Agrega un relleno para separar los elementos */
}
/* Estilos para el botón "Agregar Categoría" */
.btn-add-category {
  display: block;
  margin-bottom: 20px; /* Espacio adicional entre el botón y la tabla */
  margin: 0 auto; /* Centra el botón horizontalmente */
  width: 200px;
  margin-bottom: 20px; /* Ajusta el ancho del botón según el diseño */
}

/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px; /* Ajusta el margen inferior según sea necesario */
}

table th, table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

/* Estilos para los botones en la tabla */
table button {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-info {
  background-color: #5bc0de;
  color: #fff;
}

.btn-warning {
  background-color: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background-color: #d9534f;
  color: #fff;
}

/* Estilos para el modal "Agregar Categoría" */
.modal-dialog {
  width: 60%; /* Ancho del modal */
}

.modal-content {
  background-color: #2C3E50; /* Color de fondo del modal */
  border-radius: 10px; /* Esquinas redondeadas */
}

.modal-header, .modal-footer {
  background-color: #2C3E50; /* Misma tonalidad que el fondo del modal */
  color: white; /* Texto en color blanco */
}

.modal-body input[type="text"] {
  color: #000; /* Cambiar el color del texto a negro */
  padding: 8px; /* Ajustar el relleno según sea necesario */
}

.modal-body label {
  color: #fff; /* Cambiar el color del texto del label a blanco */
  margin-bottom: 5px; /* Ajustar el margen inferior según sea necesario */
}

.modal-title {
  margin: 0;
  font-size: 1.5rem;
}

.btn-secondary, .btn-primary {
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  color: white; /* Texto en color blanco */
}

.btn-secondary {
  background-color: #6c757d; /* Color de fondo del botón "Cerrar" */
}

.btn-primary {
  background-color: #007bff; /* Color de fondo del botón "Guardar cambios" */
}