<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Agregar Producto
</button>

<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Producto</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Cantidad Minima</th>
        <th>Categoria</th>
        <th>Marca</th>
        <th>Proveedor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.id }}</td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.precio }}</td>
        <td>{{ producto.cantidad_minima }}</td>
        <td>{{ producto.categoria__categoria }}</td>
        <td>{{ producto.marca__marca }}</td>
        <td>{{ producto.proveedor__first_name }}</td>
      </tr>
    </tbody>
  </table>


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Producto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Aquí colocamos el formulario -->
          <form>
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nuevoProducto.nombre">
              <label for="descripcion" class="form-label">Descripcion</label>
              <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="nuevoProducto.descripcion">
              <label for="precio" class="form-label">Precio</label>
              <input type="number" class="form-control" id="precio" name="precio" [(ngModel)]="nuevoProducto.precio">
              <label for="cantidad_minima" class="form-label">Cantidad Minima</label>
              <input type="number" class="form-control" id="cantidad_minima" name="cantidad_minima" [(ngModel)]="nuevoProducto.cantidad_minima">
              <label for="categoria_id" class="form-label">Categoría</label>
              <select class="form-select" id="categoria_id" name="categoria_id" [(ngModel)]="nuevoProducto.categoria_id">
                <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.categoria }}</option>
              </select>
              <label for="marca_id" class="form-label">Marca</label>
              <select class="form-select" id="marca_id" name="marca_id" [(ngModel)]="nuevoProducto.marca_id">
                <option *ngFor="let marca of marcas" [value]="marca.id">{{ marca.marca }}</option>
              </select>
              <label for="proveedor_id" class="form-label">Proveedor</label>
              <select class="form-select" id="proveedor_id" name="proveedor_id" [(ngModel)]="nuevoProducto.proveedor_id">
                <option *ngFor="let proveedor of proveedores" [value]="proveedor.id">{{ proveedor.first_name }}</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="agregarProducto()">Guardar cambios</button>
        </div>
      </div>
    </div>
  </div>