<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">{{ data.isEditing ? 'Editar Marca' : 'Ver Marca' }}</h1>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="marca" class="form-label">Nombre de la Marca</label>
          <input type="text" class="form-control" id="marca" name="marca" [(ngModel)]="marca.marca" [disabled]="!data.isEditing">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cerrarDialog()">Cerrar</button>
      <button *ngIf="data.isEditing" type="button" class="btn btn-primary" (click)="guardarCambios()">Guardar cambios</button>
    </div>
  </div>
</div>
