<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Agregar Venta
  </button>
  
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ventas of ventas">
        <td>{{ ventas.id }}</td>
      </tr>
    </tbody>
  </table>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Compra</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="producto" class="form-label">Producto</label>
              <input type="text" class="form-control" id="producto" name="producto" [(ngModel)]="nuevaVentas.producto">
            </div>
            <div class="mb-3">
              <label for="cantidad" class="form-label">Cantidad</label>
              <input type="number" class="form-control" id="cantidad" name="cantidad" [(ngModel)]="nuevaVentas.cantidad">
            </div>
            <div class="mb-3">
              <label for="precio" class="form-label">Precio</label>
              <input type="number" class="form-control" id="precio" name="precio" [(ngModel)]="nuevaVentas.precio">
            </div>
            <!-- Agregar más campos según tus necesidades (por ejemplo, fecha de compra, proveedor, etc.) -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="agregarVenta()">Guardar cambios</button>
        </div>
      </div>
    </div>
  </div>
  
