.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 8px 0; /* Ajusta el padding vertical */
  font-size: 14px; /* Ajusta el tamaño de fuente */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px; /* Ajusta el padding horizontal */
}

.footer-logo img {
  max-width: 80px; /* Ajusta el tamaño máximo de la imagen */
}

.footer-links ul {
  list-style: none;
  display: flex;
  gap: 10px; /* Ajusta el espacio entre los elementos */
}

.footer-links a {
  text-decoration: none;
  color: white;
  font-size: 12px; /* Ajusta el tamaño de fuente */
}

.footer-bottom {
  text-align: center;
  margin-top: 2px; /* Ajusta el margen superior */
  font-size: 12px; /* Ajusta el tamaño de fuente */
}
  