/* Estilos para el footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #2C3E50; /* Color de fondo del footer */
  color: #fff;
  padding: 10px 0;
  font-family: 'Roboto', sans-serif; /* Cambio de la tipografía */
  z-index: 1000; /* Asegura que el footer esté en la parte superior */
}

/* Estilos para el área del logo en el footer */
.footer-logo img {
  max-width: 100px; /* Ancho máximo para la imagen del logo */
  height: auto;
}

/* Estilos para el área inferior del footer */
.footer-bottom {
  text-align: center;
  margin-top: 10px;
}
